.box {
    width: 250px; /* Adjust the width to your preference */
    background-color: rgba(255, 255, 255, 0.8); /* Use a semi-transparent white background */
    border: 1px solid #333; /* Add a subtle border */
    padding: 30px; /* Add space inside the box */
    margin: 0 auto; /* Center the box horizontally */
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-22.5%, -40%);
    text-align: center; /* Center the content horizontally */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow for depth */
    
  }
/* styles.css */
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('/assets/tupac.jpg'); /* Set the custom image as a background */
    background-size: contain; /* Scale the image to fit within the page, maintaining its aspect ratio */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed; /* Fixed background position */
    background-position: center center; /* Center the image both horizontally and vertically */
  }
   
  /* styles.css */
.box 
            /* styles.css */
a {
    color: #000000; /* Default link color */
    text-decoration: none;
    transition: opacity 0.3s ease; /* Add a smooth opacity transition on hover */
  }
  
  a:hover {
    opacity: 0.3; /* Reduce opacity to make the text transparent on hover */
  }
  
  ul {
    list-style: none; /* Remove default bullet points */
  }
  
  /* Optionally, you can apply additional styles to your list items */
  ul li {
    margin-left: -30px; /* Add some left margin for spacing between the list items (adjust as needed) */
  }
  

  
  